        
	<div class="row" [hidden]="!home()">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="carousel slide" id="carousel-348931">
				<!-- <ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-348931" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-348931">
					</li>
					<li data-slide-to="2" data-target="#carousel-348931">
					</li>
					<li data-slide-to="3" data-target="#carousel-348931">
					</li>
				</ol> --> 
				<div class="carousel-inner">
					<div class="carousel-item active carouselImage">
						<img class="d-block w-100" alt="Carousel Bootstrap First" src="assets/images/imgCarousel.jpeg" />
					</div>
					<div class="carousel-item carouselImage">
						<img class="d-block w-100" alt="Carousel Bootstrap Second" src="https://desarrolloweb.com/storage/article_featured_images/0869QxNDmI9KNXWO0bYUtRKcGQdwn7JqZMTnN72e.jpeg" />
					</div>
					<div class="carousel-item carouselImage">
						<img class="d-block w-100" alt="Carousel Bootstrap Third" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_oiZaERb9eBjNPPEBxVRvTAz9CYfBgFcDyw&usqp=CAU" />
					</div>
					<div class="carousel-item carouselImage">
						<img class="d-block w-100" alt="Carousel Bootstrap Four" src="https://www.ikerg1972.com/wp-content/uploads/2019/05/LARAVEL.png" />
						<!-- <div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div> -->
					</div>
				</div> 
                <!-- <a class="carousel-control-prev" href="#carousel-348931" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-348931" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a> -->
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row upSpace" [hidden]="!home()">
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="https://enappd.com/media/maxresdefault.jpg" class="mediumImage"/>
			<h2>
				Front-end
			</h2>
			<p>
                Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.
			</p>
			<p>
				<a class="btn" href="https://angular.io/">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Data Base
			</h2>
			<p>
				MongoDB is a general purpose, document-based, distributed database built for modern application developers and for the cloud era.
			</p>
			<p>
				<a class="btn" href="https://www.mongodb.com/">View details »</a>
			</p>
			<img alt="Bootstrap Image Preview" src="https://cambiodigital-ol.com/wp-content/uploads/2019/06/MongoDB.jpg" class="mediumImage"/>
		</div>
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="https://res.cloudinary.com/practicaldev/image/fetch/s--qFJ0LBwL--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/http://anastasionico.uk/img/blog/the-code-behind-laravel-6.jpg" class="mediumImage" />
			<h2>
				Back-end
			</h2>
			<p>
				Laravel is a web application framework with expressive, elegant syntax. We’ve already laid the foundation — freeing you to create without sweating the small things.
			</p>
			<p>
				<a class="btn" href="https://laravel.com/">View details »</a>
			</p>
		</div>
	</div>