/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';

html{    
}
.ng-invalid:not(form){
    border-left:5px solid red;
}

.ng-valid:not(form){
    border-left:5px solid green;
}

#container{
    padding: 1% !important;
}

.upSpace{
    margin-top: 10% !important;
}

.mediumImage{
    height: 200px;
    width: 300px;
    padding: 2px;
}

.carouselImage{    
    height: 230px; 
    width: 730px;
}